#kotakCari {
    width: 80%;
    max-width: 400px;
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid #bdc3c7;
    border-radius: 8px;
    margin-bottom: 30px;
    outline: none;
}

#kotakCari:focus {
    border-color: #3498db;
}